.footer-element {
    /* footer background become transparent  */
    background: rgba(0, 0, 0, 0.5) !important;
}

.white-link {
    color: #fff !important;
}

.dark-link {
    color: #0e0d0d !important;
}

.grey-navbar {
    background-color: #a1a6ab !important;
}


/* 
---------------------------------------------
All Page of pulau Background
--------------------------------------------- 
*/
.select-all-content {
    background-image: url(../images/pantaiNtb.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #111010;
}

/* 
---------------------------------------------
All Page of explore Background
--------------------------------------------- 
*/
.select-all-content-explore {
    background-image: url(../images/SiluetBurungPantai.jpg); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #111010;
  }

.mg-judul-explore {
    margin-top: 100px;
}